.Todo
  display: flex
  justify-content: center
  margin: 100px 10px 20px 10px
  padding: 20px 15px
  &_Controller
    display: flex
    justify-content: center
    align-items: center
    margin: 10px 15px
    &-input
      flex-grow: 1
  &_Item
    display: flex
    flex-direction: row
    padding: 10px 20px
    margin: 20px
    border-bottom: 1px solid silver 
    font-size: 20px
    div
      flex-grow: 1
      display: flex
      justify-content: space-between
      align-items: center
    &-view
      display: flex
      align-items: center
    &-controller
      margin-left: 10px
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 120px
    &-delete
      

.completed
  color: gray
  text-decoration: line-through