.Todo
  display: flex
  justify-content: center
  margin: 200px 10px 20px 10px
  padding: 20px 15px
  &_Controller
    display: flex
    justify-content: center
    align-items: center
  &_Item
    display: flex
    flex-direction: row
    align-items: center
    padding: 10px 20px
    border-bottom: 1px solid silver 
    font-size: 25px
    &-delete
      align-self: flex-end    